body { font-family: 'Source Code Pro', monospace; color:#444; margin-top:50px; padding-top:1em; }
.row { margin-bottom:1em; }
button { font-family:Tahoma, Geneva, sans-serif; font-size:14px; line-height:16px; }
#grid {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin:1em;
	padding:1em;
}
#grid .matrix-row {
    overflow:hidden;
    display:block;
}
#grid .light {
    width:15px;
    height:15px;
    margin:1px;
    padding:0px;
    border-radius:15px;
    float:left;
    font-size:11px;
    text-align:center;
    cursor:pointer;
}
#grid .b {
    float:left; 
    width:15px;
    height:15px;    
    font-size:14px;
}
.light.on {
    background-color:black;   
}
.light.off {
     background-color:#efefef;  
	 color:#fff; 
}
#controls {
}
#export textarea {
    width: 400px;
    height: 150px;
}
#exportFrame { float:right; }
.color { 
	display:block;
	float:left;
	cursor:pointer;
	width:25px;
	height:25px;
	margin:1px;
	padding:3px;
	text-align:center;
}
.color.default, .light.on { background-color:black;color:white; }
.color.red, .light.on.red { background-color:red;color:rgba(255,255,255,0.7); }
.color.orange, .light.on.orange { background-color:orange;color:rgba(255,255,255,0.7); }
.color.yellow, .light.on.yellow { background-color:yellow;color:rgba(0,0,0,0.4); }
.color.green, .light.on.green { background-color:green;color:rgba(255,255,255,0.7); }
.color.blue, .light.on.blue { background-color:blue;color:rgba(255,255,255,0.7); }